<div class="row">
  <div class="col-md-3 col-md-offset-1">
  	<div class="panel panel-default">
  	  <!-- Default panel contents -->
  	  <div class="panel-heading">
  	  	<strong><%= @deck.name %> Deck</strong>
  	  </div>
  	  <div class="panel-body">
	   	# of cards <%= @cards.count %>
  	  </div>
  	</div>
  </div><!--end col-md-5 -->
  <div class="col-md-7">
  	<h3>Cards</h3>
		<hr>
		<table class="table table-striped table-bordered">
		    <thead>
		   	    <tr> 
		   		    <th>#</th>
		   		    <th>Front</th>
		   		    <th>Back</th>
		   		    <th>Deck</th>
		   	    </tr> 
			</thead>
			<% @cards.each do |card| %>
				<tbody> 
			       	<tr> 
			   	    	<th scope="row"><%= card.id %></th> 
			   	    	<td><%= link_to card.front, card %></td> 
			   	    	<td><%= card.back %></td> 
			   	    	<td><%= link_to card.deck.name, card.deck %></td>
			   	   	 </tr> 
				</tbody>	
			<% end %>
		</table>
  </div>
</div>